/* src/components/PeopleList.css */
.people-list {
    padding: 20px;
  }
  
  .person-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .car-details {
    padding: 5px;
  }
  
  .edit-button, .delete-button {
    margin-top: 5px;
  }
  
  